.version.mapper /* version checker */
{
	color: #000002;
	background-color: #F2003E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.75px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #242424;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 23px;
	width: 0.01px;/* should not cover content below */
}

#u3601
{
	z-index: 80;
	width: 88px;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	margin-left: 23px;
	position: relative;
}

#u3601::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 1px 1px 4px rgba(255,255,255,0.75), inset -1px -1px 4px rgba(0,0,0,0.75);
}

#u3603-4
{
	z-index: 81;
	width: 40px;
	min-height: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 21px;
}

#ppu3596-3
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 22px;
}

#u3596-3
{
	z-index: 12;
	width: 160px;
	min-height: 50px;
	background-color: #4A4A4A;
	position: relative;
	margin-right: -10000px;
}

#u3595-4
{
	z-index: 44;
	width: 108px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 3px;
}

#u3571-3
{
	z-index: 6;
	width: 160px;
	min-height: 50px;
	background-color: #4A4A4A;
	position: relative;
	margin-right: -10000px;
}

#u3572-4
{
	z-index: 36;
	width: 108px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 3px;
}

#u3599-3
{
	z-index: 15;
	width: 160px;
	min-height: 50px;
	background-color: #4A4A4A;
	position: relative;
	margin-right: -10000px;
}

#u3600-4
{
	z-index: 48;
	width: 141px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 3px;
}

#u3598-3
{
	z-index: 9;
	width: 160px;
	min-height: 50px;
	background-color: #4A4A4A;
	position: relative;
	margin-right: -10000px;
}

#u3597-4
{
	z-index: 40;
	width: 108px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 3px;
}

#u3713
{
	z-index: 92;
	width: 250px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	color: #F7931E;
	font-size: 14px;
	line-height: 17px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 63px;
	margin-top: 11px;
	position: relative;
	-pie-background: rgba(255,255,255,0.3);
}

#ppu3599-3,#ppu3614-3
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 10px;
}

#u3614-3
{
	z-index: 33;
	width: 160px;
	min-height: 50px;
	background-color: #4A4A4A;
	position: relative;
	margin-right: -10000px;
}

#u3613-4
{
	z-index: 76;
	width: 99px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 3px;
}

#u3932
{
	z-index: 97;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 102px;
}

#u3606-3
{
	z-index: 18;
	width: 160px;
	min-height: 50px;
	background-color: #4A4A4A;
	position: relative;
	margin-right: -10000px;
}

#u3605-4
{
	z-index: 52;
	width: 85px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 3px;
}

#u3926
{
	z-index: 95;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 97px;
}

#pppu3608-3
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 7px;
}

#ppu3608-3
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#pu3608-3
{
	width: 0.01px;
}

#u3608-3
{
	z-index: 21;
	width: 160px;
	min-height: 50px;
	background-color: #4A4A4A;
	position: relative;
	margin-right: -10000px;
}

#u3607-4
{
	z-index: 56;
	width: 85px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 3px;
}

#u3920
{
	z-index: 93;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 96px;
}

#pu3618-3
{
	width: 0.01px;
	margin-top: 19px;
}

#u3618-3
{
	z-index: 24;
	width: 160px;
	min-height: 50px;
	background-color: #4A4A4A;
	position: relative;
	margin-right: -10000px;
}

#u3617-4
{
	z-index: 60;
	width: 85px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 3px;
}

#u3938
{
	z-index: 99;
	width: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 110px;
}

#u3619-4
{
	z-index: 72;
	width: 47px;
	min-height: 15px;
	background-color: transparent;
	color: #3C4A24;
	font-size: 10px;
	line-height: 12px;
	-webkit-transform: matrix(0,-1,1,0,16,31);
	-ms-transform: matrix(0,-1,1,0,16,31);
	transform: matrix(0,-1,1,0,16,31);
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 255px;
}

#u3627
{
	z-index: 85;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 282px;
}

#ppu4043-3
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 8px;
}

#pu3596-3,#pu3599-3,#pu3614-3,#pu4043-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 182px;
}

#u4043-3
{
	z-index: 30;
	width: 160px;
	min-height: 50px;
	background-color: #4A4A4A;
	position: relative;
	margin-right: -10000px;
}

#u4042-4
{
	z-index: 68;
	width: 85px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 3px;
}

#u4040-3
{
	z-index: 27;
	width: 160px;
	min-height: 50px;
	background-color: #4A4A4A;
	position: relative;
	margin-right: -10000px;
}

#u3596-3::before,#u3571-3::before,#u3599-3::before,#u3598-3::before,#u3614-3::before,#u3606-3::before,#u3608-3::before,#u3618-3::before,#u4043-3::before,#u4040-3::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 1px 1px 4px rgba(255,255,255,0.75), inset -1px -1px 4px rgba(0,0,0,0.75);
}

#u4041-4
{
	z-index: 64;
	width: 85px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 3px;
}

#u3595,#u3572,#u3600,#u3597,#u3613,#u3605,#u3607,#u3617,#u4042,#u4041
{
	color: #FFFFFF;
}

#u3633-5
{
	z-index: 87;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3633-5-bw
{
	z-index: 87;
	min-height: 17px;
	margin-top: 54px;
}

#u3907-4
{
	z-index: 2;
	width: 196px;
	min-height: 17px;
	margin-left: 92px;
	margin-top: 2px;
	position: relative;
}

.html
{
	background-color: #242424;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

